:root {
    --primary-color: #1A1B21;
    --secondary-color: #FAFBFC;
    --tertiary-color: #D1D5DB;
}


* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 3000px;
    overflow-x: hidden;
}

.img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.4);
    /* position: absolute; */
    display: block;
}

.navbar-brand {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
}

.login-btn {
    background-color: #1A1B21;
    color: #FAFBFC;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    margin-right: 4px;
}

.cart-btn {
    background-color: #1A1B21;
    color: #FAFBFC;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    margin-right: 4px;
}


.login-btn:hover,
.cart-btn:hover {
    background-color: #343541;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #d4d4d4;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
}

.navlink:hover,
.nav-link.active {
    color: #FFFFFF;
}

@media (min-width: 992px) {
    .nav-link:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #FFFFFF;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before {
        width: 100%;
        visibility: visible;
    }
}

.navbar-scrolled {
    background-color: #2c2c2c;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}


/*--- Slider ----*/
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-backgroud-size: cover;
    background-size: cover;

}

.carousel-item img {
    object-fit: cover;
}

.carousel-item h5,
p {
    text-shadow: 0 0 10px #000;
}

.slider-btn {
    margin-top: 30px;
}

.slider-btn .btn {
    background-color: #1A1B21;
    color: #FAFBFC;
    border-radius: 0;
    padding: 1.25rem;
}